streamlit>=1.26
pandas>=1.5.0
psycopg2-binary>=2.9
plotly>=5.19
fpdf>=1.7
docxtpl>=0.16
python-docx>=0.8
Pillow>=10.0
cairosvg>=2.7
requests>=2.28
pytz>=2021.3
openpyxl>=3.0
docx2pdf>=0.1
kaleido>=0.2
matplotlib>=3.5
pywin32; platform_system=="Windows"